# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/
app/reports/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Ansible
infra/ansible/inventory.ini
*.retry

# Vagrant
.vagrant/

# Secrets et fichiers locaux
.env
*.pem
*.key
kubeconfig*.yaml

# Editeurs / systeme
.vscode/
.idea/
.DS_Store
*.swp
